<div class="product-grid">
  {% for block in section.blocks %}
    
    {% assign product = block.settings.product %}
    
    {% if product != blank and product.featured_image != blank %}
      
      <div class="product-card">
        
        {{ product.featured_image | image_url: width: 500 | image_tag: alt: product.title }}

        <button class="quick-view-btn" data-handle="{{ product.handle }}">
          +
        </button>

      </div>

    {% endif %}

  {% endfor %}
</div>
